zip/kiwisolver-1.2.0.dist-info/
zip/kiwisolver-1.2.0.dist-info/*
zip/dateutil/
zip/dateutil/*
zip/pyparsing.py
zip/cycler.py
zip/six.py
zip/pytz/
zip/pytz/*
zip/numpy/
zip/numpy/*
zip/numpy.libs/
zip/numpy.libs/*
zip/matplotlib/
zip/matplotlib/*
zip/matplotlib.libs/
zip/matplotlib.libs/*
zip/mpl_toolkits/
zip/mpl_toolkits/*
zip/pandas/
zip/pandas/*
zip/matplotlib-3.2.2-py3.8-nspkg.pth
zip/pylab.py
zip/kiwisolver.cpython-38-x86_64-linux-gnu.so
zip.zip
zip/zip.zip
zip/setuptools/
zip/setuptools/*
zip/numpy/
zip/numpy/*
zip/easy_install.py
zip/pkg_resources/
zip/pkg_resources/*
zip/bin/
zip/bin/*
zip/zope.interface-5.1.0-py3.8-nspkg.pth
zip/DateTime/
zip/DateTime/*
zip/xlrd/
zip/xlrd/*
zip/zope/
zip/zope/*
zip/xlrd-1.2.0.dist-info
zip/xlrd-1.2.0.dist-info/*
test_code/
test_code
test_code/*
covidguages/*
covidguates/
references/*
references/
zip/scipy/
zip/scipy/*
website/
website/*
deprecated/
deprecated/*
zip/test.py
zip/__pycache__/
zip/__pycache__/*_
.DS_Store
zip/.DS_Store
__pycache__/
__pycache__/*
aws/
aws/*
graphics/
graphics/*
