h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px; font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    padding-left: 20px;
} 

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px; 
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px; 
    padding-left: 40px;
} 

blockquote {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
} 

pre {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px; 
}

ul {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none;
}

li {
    padding-bottom: 20px;
}

/*used for the what goes into the calcualtion section*/
.calculations_img {
    vertical-align: middle;
    height: 100px;
    width: 100px;
}

.calculations_text {
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    padding-left: 20px;
}

button {
    background-color: white;
    color: black;
    /*border: 2px solid #372dcc; */
    border: none;
    text-decoration: underline;
    text-decoration-color: blue;
    color: blue;
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
}